{%  load static  %}
{%  load  recipe_teg  %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type='text/css' href="{% static 'recipes_app/css/styles.css'  %}" rel='stylesheet' />
    <title>{{title}}</title>
</head>
<body>
{%  get_categories as categories  %}
{% block index %}<a href="{%  url 'index'  %}">Главная страница</a>{% endblock %}
<a href="{%  url 'about'  %}">О сайте</a>
<a href="{%  url 'add_page'  %}">Добавить статью</a>
<a href="{%  url 'contact'  %}">Обратная связь</a>
<a href="{%  url 'login'  %}">Войти</a>
<br>
{%  for cat in categories  %}
    <a href="{%  url 'category' cat.id  %}">{{cat.name}}</a>
{%  endfor  %}
{% block content %}{% endblock %}
</body>
</html>