<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
<a href="{%  url 'about'  %}">О сайте</a>
<a href="{%  url 'add_page'  %}">Добавить статью</a>
<a href="{%  url 'contact'  %}">Обратная связь</a>
<a href="{%  url 'login'  %}">Войти</a>
{% block content %}
{% endblock %}
</body>
</html>