{% extends 'base.html' %}

{% block index %}{% endblock %}

{% block content %}
<h1>{{  title  }}</h1>
<br><br>
<div class="pagination" >
{%  include 'recipes_app/includes/paginator.html' %}
</div>
<div>
{% if page_obj  %}
{%  for el in page_obj  %}
	{% if el.is_published  %}
		{% if not forloop.first  %}
			<hr>
		{%  endif  %}
		<div>
			{{ el.id }}
			<a href="{% url 'recipe' el.id %}">{{ el.title }}</a><br>
			Ingredients: {{ el.ingredients }} <br>
			Time: {{ el.cooking_time }}
			Quantity of servings: {{ el.quantity_of_servings }}
			{{  el.recipe_text|truncatewords:20  }}
			<a href="{% url 'recipe' el.id %}">Подробнее</a>
		</div>
	{%  endif  %}
{%  endfor  %}
{%  else  %}
	<h2>Пока нет рецептов из этой категории</h2>
{%  endif  %}
</div>

<div class="pagination" >
{%  include 'recipes_app/includes/paginator.html' %}
</div>

{% endblock %}
