{% extends 'recipes_app/base.html' %}

{% block index %}{% endblock %}
{% block content %}

<h1>{{  title  }}</h1>

{%  for el in page_obj  %}
	{% if el.is_published  %}
		{% if not forloop.first  %}
			<hr>
		{%  endif  %}
		<div>
			{{ el.id }}
			<a href="{% url 'recipe' el.id %}">{{ el.title }}</a><br>
			Ingredients: {{ el.ingredients }} <br>
			Time: {{ el.cooking_time }}
			Quantity of servings: {{ el.quantity_of_servings }}
			<a href="{% url 'recipe' el.id %}">Подробнее</a>
		</div>
	{%  endif  %}
{%  endfor  %}

<nav>
	<ul>
		{%  for p in page_obj.paginator.page_range  %}
		<li>
			<a href="?page={{  p  }}">{{  p  }}</a>
		</li>
		{%  endfor  %}
	</ul>
</nav>
{% endblock %}
