{% extends 'recipes_app/base.html' %}

{% block content %}
<div>
    <div>
        <br>
        {{ data.id }}
        <a href="{%  url 'edit_recipe'  data.pk %}">{{ data.title }} </a><br>
        <br>
    </div>
    <div>
        Time: {{ data.cooking_time }}<br>
        Quantity of servings: {{ data.quantity_of_servings }}<br>
    </div>
    <hr>
    <div>
        Ingredients: {{ data.ingredients }}<br>
    </div>
    <hr>
    <div>
        Recipe: {{ data.recipe_text }} <br>
    </div>

</div>
{% endblock %}
<div></div>